:root {
  --colorPrimary-h: 140;
  --colorPrimary-s: 60%;
  --colorPrimary-l:30%;

  --lighten-percent: 10%;
  --darken-percent: -15%;

  --sat-percent: 15%;

  --perceived-luminance: 0;
  --perceived-luminance-lighter: 0;
  --perceived-luminance-darker: 0;

  --contrastThreshold: .47;

  --colorPrimary: hsl(
    var(--colorPrimary-h),
    var(--colorPrimary-s),
    var(--colorPrimary-l)
  );
  --colorPrimary-light: hsl(
    var(--colorPrimary-h),
    var(--colorPrimary-s),
    calc(var(--colorPrimary-l) + var(--lighten-percent))
  );
  --colorPrimary-lighter: hsl(
    var(--colorPrimary-h),
    var(--colorPrimary-s),
    calc(var(--colorPrimary-l) + (var(--lighten-percent) * 1.3))
  );
  --colorPrimary-much-lighter: hsl(
    var(--colorPrimary-h),
    calc(var(--colorPrimary-s) + var(--sat-percent) * 2),
    calc(var(--colorPrimary-l) + (var(--lighten-percent) * 3.3))
  );
  --colorPrimary-sat: hsl(
    var(--colorPrimary-h),
    calc(var(--colorPrimary-s) + var(--sat-percent)),
    var(--colorPrimary-l)
  );
  --colorPrimary-sater: hsl(
    var(--colorPrimary-h),
    calc(var(--colorPrimary-s) + var(--sat-percent)*2),
    var(--colorPrimary-l)
  );
  --colorPrimary-sat-dark: hsl(
    var(--colorPrimary-h),
    calc(var(--colorPrimary-s) + var(--sat-percent)),
    calc(var(--colorPrimary-l) + var(--darken-percent))
  );
  --colorPrimary-unsat: hsl(
    var(--colorPrimary-h),
    calc(var(--colorPrimary-s) - var(--sat-percent)),
    var(--colorPrimary-l)
  );
  --colorPrimary-unsat-dark: hsl(
    var(--colorPrimary-h),
    calc(var(--colorPrimary-s) - var(--sat-percent) * 1.5),
    calc(var(--colorPrimary-l) + var(--darken-percent))
  );
  --colorPrimary-dark: hsl(
    var(--colorPrimary-h),
    var(--colorPrimary-s),
    calc(var(--colorPrimary-l) + var(--darken-percent))
  );
  --colorPrimary-darker: hsl(
    var(--colorPrimary-h),
    var(--colorPrimary-s),
    calc(var(--colorPrimary-l) + (var(--darken-percent) * 1.3))
  );

  --modified_range_lum: calc(var(--perceived-luminance) - .5);
  --modified2_range_lum: calc(var(--modified_range_lum) * var(--modified_range_lum) * var(--modified_range_lum));
  --nudge_lum: calc(.25 - var(--modified2_range_lum));

  --accent: hsl(
    calc(var(--colorPrimary-h) + 60),
    calc(var(--colorPrimary-s) - var(--sat-percent)),
    80%
  );

  --switched-l: calc((var(--perceived-luminance) - var(--contrastThreshold)) * -10000000%);
  --switched-l-lighter: calc((var(--perceived-luminance-lighter) - var(--contrastThreshold)) * -10000000%);
  --switched-l-darker: calc((var(--perceived-luminance-darker) - var(--contrastThreshold)) * -10000000%);

  --text: hsl(0, 0%, var(--switched-l));
  --lighter-text: hsl(0, 0%, var(--switched-l-lighter));
  --darker-text: hsl(0, 0%, var(--switched-l-darker));
  --secondary-text: hsl(0, 0%, 90%);

  --background: var(--colorPrimary);
}


a {
  color: var(--accent);
}

.dark-text {
  --secondary-text: hsl(0, 0%, 10%);
}

html {
  background: var(--background);
  scroll-behavior: smooth;
}

main {
  margin: 0 10vw;
  color: var(--text);
  /* color: var(--dark-text); */
  font-family: "Montserrat", serif;
}

#main_content {
  height: 100vh;
  display: flex;
}

#main_content h1 {
  margin: 1vh 0;
}

#main_content h2 {
  margin-top: 0;
}

#main_content a {
  background-color: var(--colorPrimary);
  border: 2px solid var(--colorPrimary-unsat-dark);
  color: var(--text);
  padding: 0.5em 1em;
  font-size: 1.3rem;
  border-radius: 5px;
  margin-right: 1rem;
  cursor: pointer;
  text-decoration: none;
  transition: 400ms border, 400ms box-shadow, 400ms background-color;
}

#main_content a:hover {
  border: 2px solid var(--text);
  color: var(--text);
  /* box-shadow: 1px 1px 20px 1px var(--colorPrimary-sat-dark); */
  background-color: var(--colorPrimary-sat);
}

h1 {
  font-size: 6em;
  color: var(--text);
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 2.2em;
  color: var(--text);
}

.flex {
  display: flex;
}

.w-100 {
  width: 100%;
}

.right {
  margin-left: auto;
}

.center {
  margin: auto;
}

.vertical-center {
  margin: auto 0;
}

.section-header{
  margin: 0;
  padding: .4em .6em;
  display: inline-block;
  transform: translateY(6vh) translateX(-3vw);
  background-color: var(--colorPrimary-much-lighter);
  color: var(--colorPrimary);
  font-size: 4rem;
  clip-path: polygon(0 0, 0 75%, 40px 100%, 100% 100%, 100% 25%, calc(100% - 40px) 0);
}

section {
  background-color: var(--colorPrimary-unsat);
  padding: 5em 2em 2em 2em;
}

/* Project Card Styling */
.project-card {
  display: grid;
  margin: 1em 0;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;
}

.project-body {
  color: var(--secondary-text);
}

.project-body small {
  color: var(--accent);
}

.project-img {
  grid-column: 2;
  padding: 1em;
}

.project-img img {
  max-width: 100%;
  border-radius: 5px;
}

/* General Card */
.project-body ul {
  margin-top: 0;
}

.project-body li,
.project-body > p,
.foss-header > p {
  font-size: 1.2em;
}

.project-body > span,
.foss-header > span {
  font-size: 2em;
  margin-left: 0.5em;
}

.project-body > small,
.foss-header > small {
  font-size: 1em;
}

.project-body > span > a,
.foss-header > span > a {
  color: var(--text);
}

.project-body > span > a:hover,
.foss-header > span > a:hover {
  color: var(--accent);
}


.project-body > h3,
.foss-header > h3 {
  display: inline-block;
  margin-bottom: 0.2em;
}

/* Foss specific styling */
.foss-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;
}

.foss-card:hover {
  /* box-shadow: 1px 1px 35px 5px var(--colorPrimary-darker); */
  /* background-color: var(--colorPrimary-sat-dark); */
}

.foss-header > h3 {
  margin: 0;
}

.foss-header {
  margin: auto 0;
}
.foss-body {
  margin: auto 0;
}

/* Footer Styling */
#footer {
  background-color: var(--colorPrimary-sater);
  margin: 8vh 0 0 0;
  padding: 1vh 2vw;
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
}

#copyright {
  margin-top: 1.25em;
  font-size: 0.75em;
}

#footer ul {
  padding-left: 0;
  list-style-type: none;
}

#footer p,
#footer li a {
  color: var(--darker-text);
  text-decoration: none;
}

#footer li a:hover {
  color: var(--accent);
}

#contact-content {
  padding: 1em;
  display: grid;
  grid-template-columns: 2fr repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  row-gap: 12px;
}

#contact-content a {
  margin: auto;
  font-size: 1.75rem;
  color: var(--darker-text);
}

#contact-content a :hover {
  color: var(--accent);
}

#connect-header {
  grid-row: 1/3;
  color: var(--darker-text);
  margin: auto;
  font-size: 1.5rem;
}
